<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login">
        <h1 align="center" >登入系統</h1>
        <p align="center">員工編號:<input type="number" name="id" id="id" min="1" max="5"></input></p>
        <p align="center">姓名:<input type="text" name="name" id="name" >  </input></p>
        <p align="center">密碼:<input type="password" name="password">  </input></p>
        <p align="center"> N:<input type="text" name="n"></input></p>
        <p align="center">
            <input type="submit" value="登入" ></input>
            <input type="reset" value= "重新輸入"></input>
        </p>
        <p align="center"><input type="date" min="2021-01-01" max="2021-12-31" ></input></p>

    </form>>
</body>
</html>